<div class="delModal modal-body" id="modal-body">
    <h4>Are you sure? You want to delete</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="cancelModal()">Cancel</button>
    <button  class="btn btn-danger" ng-click="deleteConfirm()">Confirm</button>
</div>
<!-- <input type="submit" class="btn btn-info" ng-click="addData()"
    ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  
    myForm.email.$dirty && myForm.email.$invalid">
            <button type="submit" >Save</button> -->
        
    </div>